html {
  background: gainsboro;
}
html, body {
  height: 100%;
  max-width: 100%;
  margin: 0;
}
section {
  width: 100%;
  height: auto;
}
@font-face {
  font-family: "PantonNarrowBlack";
  src: url(../fonts/PantonNarrowDemo-Black.otf) format("opentype");
}
@font-face {
  font-family: "PantonNarrowLight";
  src: url(../fonts/PantonNarrowDemo-Light.otf) format("opentype");
}
/* PAGE D'ACCUEIL BEGIN*/
#header {
  min-height: 100%;
  max-width: 100%;
  margin-bottom: -20px;
  display: flex;
  /* PARALAX */
  background-image: url('../img/accueil.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
#header-block {
  font-family: "PantonNarrowLight";
  position: fixed;
  width: auto;
  max-width: 250px;
  height: auto;
  background: rgb(59,59,59);
  background: linear-gradient(to top, #b5bdc8 0%,#828c95 36%,#28343b 100%);
  color: white;
  font-size: 80%;
  bottom: 60px;
  right: 75px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
}
/* PAGE D'ACCUEIL END*/
/* BARRE DE NAVIGATION BEGIN*/
div#container-nav {
  background: transparent;
  position: sticky;
  top: 0;
}
div#nav {
  background: transparent;
  height: auto;
  width: 100%;
  margin-bottom: -20px;
  position: sticky;
  top: 0;
}
ul {
  font-family: "PantonNarrowBlack";
  list-style-type: none;
  overflow: hidden;
  display: inline;
  display: flex;
  height: 45px;
  background-color: gray;
  color: white;
  font-size: 115%;
  border-left: 30px solid #484848;
  margin-left: -10px;
}
li {
  width: 150px;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 9px;
  padding-bottom: 15px;
  border-right: 2px solid white;
}
li a {
  text-decoration: none;
  color: inherit;
}
li:hover  {
  background: #606060;
  cursor: pointer;
}
li:first-child {
  margin-left: -40px;
  border-left: 2px solid white;
}
.nav-button-size {
  height: 100%;
  width: 100%;
}
#checkbox-label {
  margin-left: auto;
}
/* DROPDOWN MENU BEGIN*/
#checkbox {
  display: none;
}
input:checked ~ #dropdown-content {
  display: block;
  z-index: 1;
}
#nav-contact {
  margin-left: auto;
  overflow: hidden;
  width: 50px;
}
#dropdown-button {
  margin-top: -8px;
  margin-left: 2px;
  min-height: 45px;
  width: auto;
  border: none;
  outline: none;
  background-image: url('../img/menu-icon.png');
  background-size: contain;
  background-repeat: no-repeat;
}
#dropdown-content {
  z-index: 1;
  min-width: 160px;
  position: absolute;
  display: none;
  top: 45px;
  right: 10px;
  border: 1px solid black;
  border-top: none;
  box-shadow: 5px 5px 10px 2px #404040;
}
#dropdown-content a {
  font-size: 100%;
  display: block;
  text-decoration: none;
  background-color: #f0f0f0;
  color: #303030;
  padding: 10px;
  border-bottom: 1px solid black;
}
#dropdown-content:last-child {
  border-bottom: none;
}
#dropdown-button:hover {
  cursor: pointer;
}
#dropdown-content a:hover {
  background-color: #D3D3D3;
}
/* DROPDOWN MENU END */
#nav-contact:hover {
  background: #505050;
  cursor: pointer;
}
/* BARRE DE NAVIGATION END*/
/* PARCOURS BEGIN*/
#parcours {
  height: 1000px;
  width: 100%;
  background: #f8f8f8;
}
/* PARCOURS END*/
/* COMPTETENCES BEGIN*/
#competences {
  height: 1000px;
  width: 100%;
  background: #f0f0f0;
}
/* COMPTETENCES END*/
/* PROJET BEGIN*/
#projet {
  height: 1000px;
  width: 100%;
  background: #f8f8f8;
}
/* PROJET END*/
/* CONTACT BEGIN*/
#contact {
  height: 1000px;
  width: 100%;
  background: #f0f0f0;
}
/* CONTACT END*/
