html {
  background: gainsboro;
}
html, body {
  height: 100%;
  max-width: 100%;
  margin: 0;
}
@font-face {
  font-family: "PantonNarrowBlack";
  src: url(../fonts/PantonNarrowDemo-Black.otf) format("opentype");
}
@font-face {
  font-family: "PantonNarrowLight";
  src: url(../fonts/PantonNarrowDemo-Light.otf) format("opentype");
}
/* PAGE D'ACCUEIL BEGIN*/
#header {
  height: 100%;
  max-width: 100%;
  margin-bottom: -20px;
  /* PARALAX */
  background-image: url('../img/accueil.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
/* PAGE D'ACCUEIL END*/
/* BARRE DE NAVIGATION BEGIN*/
div#container-nav {
  background: transparent;
  position: sticky;
  top: 0;
}
div#nav {
  background: transparent;
  height: auto;
  width: 100%;
  margin-bottom: -20px;
  position: sticky;
  top: 0;
}
ul {
  font-family: "PantonNarrowBlack";
  list-style-type: none;
  overflow: hidden;
  display: inline;
  display: flex;
  height: 45px;
  background-color: gray;
  color: white;
  font-size: 115%;
  border-left: 30px solid #484848;
  margin-left: -10px;
}
li {
  width: 150px;
  text-align: center;
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 9px;
  padding-bottom: 15px;
  border-right: 2px solid white;
}
li:hover  {
  background: #606060;
  cursor: pointer;
}
li:first-child {
  margin-left: -40px;
  border-left: 2px solid white;
}
li:last-child {
  border-right: none;
  border-left: 2px solid white;
}
/* DROPDOWN MENU BEGIN*/
#nav-contact {
  z-index: 1;
  margin-left: auto;
  overflow: hidden;
}
#dropdown-button {
  border: none;
  outline: none;
  font-family: inherit;
  color: inherit;
  font-size: inherit;
  text-align: center;
  background-color: inherit;
  margin: inherit;
}
#dropdown-content {
  z-index: 1;
  min-width: 160px;
  position: absolute;
  display: none;
  top: 45px;
  right: 10px;
}
#dropdown-content a {
  display: block;
  text-decoration: none;
  background-color: #f5f5f5;
  color: #303030;
  padding: 12px 16px;
  border-bottom: 1px solid black;
}
#dropdown-button:hover {
  cursor: pointer;
}
#nav-contact:hover #dropdown-content {
  display: block;
}
#dropdown-content a:hover {
  background-color: #D3D3D3;
}
/* DROPDOWN MENU END */
#nav-contact:hover {
  background: #505050;
  cursor: pointer;
}
/* BARRE DE NAVIGATION END*/
/* PARCOURS BEGIN*/
#parcours {
  height: 3000px;
  width: 100%;
  background: #f5f5f5;
}
/* PARCOURS */
