html {
  background: linear-gradient(to top, #999966 0%, #ffffcc 90%);
}
html, body {
  height: 100%;
  max-width: 100%;
  margin: 0;
}
@font-face {
  font-family: "PantonNarrowBlack";
  src: url(../fonts/PantonNarrowDemo-Black.otf) format("opentype");
}
@font-face {
  font-family: "PantonNarrowLight";
  src: url(../fonts/PantonNarrowDemo-Light.otf) format("opentype");
}
/* PAGE D'ACCUEIL */
#container-header {
  width: 100%;
  height: 100%;
}
#header {
  position: relative;
  background-color: #00ff00;
  width: 100%;
  height: 100%;
}
/* PAGE D'ACCUEIL */
/* BARRE DE NAVIGATION */
#nav {
  background: transparent;
  width: 100%;
  position: sticky;
}
ul {
  font-family: "PantonNarrowBlack";
  list-style-type: none;
  overflow: hidden;
  background-color: gray;
  color: white;
  display: flex;
  font-size: 120%;
  border-left: 30px solid #484848;
  height: auto;
  margin-left: -10px;
}
li {
  padding-right: 10px;
  padding-left: 10px;
  text-decoration: none;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  border-right: 2px solid white;
}
li:hover  {
  background: #606060;
}
li:first-child {
  margin-left: -40px;
  border-left: 2px solid white;
}
li:last-child {
  border-right: none;
  border-left: 2px solid white;
}
#nav-contact {
  margin-left: auto;
}
#nav-contact:hover {
  background: #505050;
}
/* BARRE DE NAVIGATION */
